<div class="padding">
    <div class="row">
        <div class="col" ng-repeat="i in [1,2,3,4]">
            <img ng-src="img/avatar/{{i}}.png" ng-click="$parent.$parent.avatarIndex={{i}}" ng-class="$parent.$parent.avatarIndex==={{i}} ? 'avatar-active':''" />
        </div>
    </div>
    <div class="row">
        <div class="col" ng-repeat="i in [5,6,7,8]">
            <img ng-src="img/avatar/{{i}}.png" ng-click="$parent.$parent.avatarIndex={{i}}" ng-class="$parent.$parent.avatarIndex==={{i}} ? 'avatar-active':''" />
        </div>
    </div>
    <div class="row">
        <div class="col" ng-repeat="i in [9,10,11,12]">
            <img ng-src="img/avatar/{{i}}.png" ng-click="$parent.$parent.avatarIndex={{i}}" ng-class="$parent.$parent.avatarIndex==={{i}} ? 'avatar-active':''" />
        </div>
    </div>
    <div class="row">
        <div class="col" ng-repeat="i in [13,14,15,16]">
            <img ng-src="img/avatar/{{i}}.png" ng-click="$parent.$parent.avatarIndex={{i}}" ng-class="$parent.$parent.avatarIndex==={{i}} ? 'avatar-active':''" />
        </div>
    </div>
</div>
