<ion-view title="{{'TITLE' | translate}}">
    <ion-content>
        <ion-refresher on-refresh="onRefresh()" pulling-text="Pull to refresh activities..."></ion-refresher>
        <div ng-if="activities.length === 0" class="a-title a-warning">
            Nothing to see here. Please check back later.
        </div>
        <div ng-repeat="activity in activities | orderBy:'start_date'" class="list card ink-dark" ng-click="ActivityDetail(activity._id)" on-hold="onHold()">
            <div class="item item-divider">
                <div class="a-date">{{activity.start_date | moment: 'format': 'YYYY-MM-DD'}} </div>
                <i class="icon ion-checkmark-circled royal" ng-show="activity.isReserved"></i>
            </div>
            <div style="item item-body">
                <div class="a-title">{{activity.title}}</div>
                <div class="a-capacity">{{activity.attendees.length}} of {{activity.size}} {{'PERSON'|translate}}</div>
            </div>
            <!-- <div class="item tabs tabs-secondary tabs-icon-left">
                 <a class="tab-item stable-bg assertive">
                 <i class="icon ion-heart"></i>
                     4
                 </a>
                 <a class="tab-item stable-bg positive-900">
                    <i class="icon ion-chatbubbles"></i>
                     2
                 </a>
            </div> -->

            <!-- <difficulty style="float:right" data="{{difficulty}}"></difficulty> -->
            <!-- <div class="item item-divider"></div> -->
        </div>

        <ion-infinite-scroll ng-if="false" on-infinite="onInfinite()"></ion-infinite-scroll>
    </ion-content>
    <button class="button button-fab button-fab-bottom-right expanded button-energized-900 flat" style="bottom: 50px;" ng-click="addActivity()"><i class="icon ion-plus"></i></button>
</ion-view>
